fastapi>=0.116,<1
uvicorn[standard]>=0.35,<1
geopandas>=1.0,<2
shapely>=2.0,<3
pyproj>=3.6,<4
pyogrio>=0.10,<1
numpy>=1.26,<3
pandas>=2.2,<3
jinja2>=3.1,<4
gunicorn==23.0.0
uvicorn-worker==0.4.0
boto3>=1.35,<2
